{% extends 'base.html.twig' %}

{% block title %}Dettaglio Mezzo {{veicoli[0].targa}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

:root {
	--top-color: #45484e;
	--bottom-color: #7e8591;
	
	color: #FFFFFF;
	font-family: 'Roboto';
	font-size: 16px;
	height: 100%;
	
	> * { box-sizing: border-box; }
}

body {
	// Code below provided in part by Colorzilla :-)
	background: var(--top-color);
	background: -moz-linear-gradient(top, var(--top-color) 0%, var(--bottom-color) 100%);
	background: -webkit-linear-gradient(top, var(--top-color) 0%, var(--bottom-color) 100%);
	background: linear-gradient(to bottom, var(--top-color) 0%, var(--bottom-color) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE5D26', endColorstr='#FFAE93',GradientType=0 );
	// /colorzilla
	
	height: 100%;
	margin: 0 auto;
	max-width: 700px;
	padding: 1rem;	
	width: 100%;
}

details {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	
	&[open] summary::after {
		
	}
}

summary {

	
	&::-webkit-details-marker {
		display: none
	}
}

p {
	font: italic normal 400 1rem "Roboto";
	margin: 0;
	padding: .5rem 0;
	 -webkit-animation: fadeIn .5s;
		 -moz-animation: fadeIn .5s;
		  -ms-animation: fadeIn .5s;
			-o-animation: fadeIn .5s;
				animation: fadeIn .5s;
}

@-webkit-keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes fadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}
</style>
<h2><a href="{{path('app_mezzi',{'filiareId':veicoli[0].filiareId})}}"> Torna alla scheda mezzi</a></h2>
<h1> {{veicoli[0].marca}} - {{veicoli[0].modello}} - {{veicoli[0].dataImm | date('d-m-Y')}} </h1>
<details>
	<summary>Informazioni base</summary>
    <ol>
	    <li><p>Codice Filiare: <a href="{{path('app_detail_filiare',{'filiareId':veicoli[0].filiareId})}}">{{veicoli[0].filiare}}</a></p></li>
        <li><p>Marca: {{veicoli[0].marca}}</p></li>
        <li><p>Modello: {{veicoli[0].modello}}</p></li>
        <li><p>Anno: {{veicoli[0].dataImm | date('d-m-Y')}}</p></li>
    </ol>
</details>
<details>
	<summary>Scheda mezzo</summary>
	    <ol>
	    <li><p>Data revisione: {{veicoli[0].dataRev | date('d-m-Y')}} {{veicoli[0].dataRev | date('d-m-Y') | alert_revisione}}</p></li>
        <li><p>Tipo: {{veicoli[0].descrizione}}</p></li>
        <li><p>Classe emissione Euro: {{veicoli[0].classeEmiss}}</p></li>
    </ol>
</details>
{% endblock %}
